<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-container">

            {{partial "partials/messages"}}

            <form {{action 'updateToken' on='submit'}} role="form">
                <div class="form-group">
                    <label for="email">Email</label>
                    {{input type="email" required="true" disabled="true" value=email class="form-control" id="email" placeholder="Email"}}
                </div>
                <div class="form-group">
                    <label for="api_token">Api Token</label>        
                    {{input type="text" disabled="true" value=apiToken class="form-control" id="api_token" placeholder="Api Token"}}
                </div>
                <button type="submit" class="btn btn-primary" {{bind-attr disabled=working}}>
                    {{#if working}}
                        Generating...
                    {{else}}
                        New API token
                    {{/if}}
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

