<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-container">

            {{messages-widget for=this}}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{input type="email" required="true" disabled="true" value=model.email class="form-control" id="email" placeholder="Email"}}
                    </div>
                    <div class="form-group">
                        <label for="api_token">Api Token</label>        
                        {{input type="text" disabled="true" value=model.apiToken class="form-control" id="api_token" placeholder="Api Token"}}
                    </div>
                    {{!-- <div class="form-group"> --}}
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary ladda-button token-button" {{action 'updateToken'}} {{bind-attr disabled=working}} data-style="expand-left" data-spinner-size="25">
                            <span class="ladda-label">
                                {{#if working}}
                                    Generating...
                                {{else}}
                                    New API token
                                {{/if}}
                            </span>
                        </button>
                    </div>
                    {{!-- </div> --}}
                </div>
            </div>
            <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Subscription 
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table subscription-table">
                        <tr>
                            <td>Plan</td>
                            <td>
                                <span class="label label-success">
                                    {{#if model.plan}}
                                        {{model.plan}}
                                    {{else}}
                                        Basic
                                    {{/if}}
                                </span> 
                            </td>
                        </tr>
                        <tr>
                            <td>Rate limit</td>
                            <td>{{model.rateLimit}} requests / 5 minutes</td>
                        </tr>
                        <tr>
                            <td>Multiple responses / request</td>
                            <td><span {{bind-attr class=":glyphicon model.isPremium:glyphicon-ok:glyphicon-remove"}}></span></td>
                        </tr>
                        <tr>
                            <td>Requests over HTTPS</td>
                            <td><span {{bind-attr class=":glyphicon model.isPremium:glyphicon-ok:glyphicon-remove"}}></span></td>
                        </tr>    
                        <tr>
                            <td>Ability to invite collaborators* to projects</td>
                            <td><span {{bind-attr class=":glyphicon model.isPremium:glyphicon-ok:glyphicon-remove"}}></span></td>
                        </tr> 
                        <tr>
                            <td>Price</td>
                            <td>{{format-currency model.subscriptionPrice}} / month</td>
                        </tr>                      
                    </table>
                    <br/>

                    {{#if model.hasCard}}
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary" {{action "openCreditCardModal"}}>
                                Update Subscription
                            </button>   
                        </div>  
                    {{else}}
                        <div class="alert alert-success premium-offer">
                            <div class="text-center">
                                <h3 class="premium-heading">Premium Features</h3>
                            </div>

                            <table class="table subscription-table">
                                <tr>
                                    <td>Rate Limit</td>
                                    <td>200 requests / 5 minutes</td>
                                </tr>
                                <tr>
                                    <td>Multiple responses / request</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <td>Requests over HTTPS</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>  
                                <tr>
                                    <td>Ability to invite collaborators* to projects</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>   
                                <tr>
                                    <td>Access to future <strong>Premium</strong> features</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>                  
                            </table>
                            <div class="text-center go-premium">
                                <button type="submit" class="btn btn-primary btn-lg" {{action "openCreditCardModal"}}>
                                    Go premium!
                                </button>   
                            </div>  
                        </div>
                    {{/if}}
                    <br/>
                    <small>*Collaborators can be any JsonStub member. They do not need to be premium.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

