<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'projects' classNames="navbar-brand"}}JsonStub <sup><sup>beta</sup></sup>{{/link-to}}
        </div>
        <div class="navbar-collapse collapse">       
            <ul class="nav navbar-nav navbar-right">
                <li>            
                    <button {{action 'tweet'}} class="btn btn-info navbar-btn navbar-right btn-sm custom-nav-button">
                        <span class="glyphicon glyphicon-heart"></span> Tweet
                    </button>
                </li>
                {{#unless user.isPremium}}
                    <li>            
                        <button {{action 'goPremium'}} class="btn btn-success navbar-btn navbar-right btn-sm custom-nav-button">
                            <span class="glyphicon glyphicon-plus"></span> Go Premium!
                        </button>
                    </li>
                {{/unless}}
                <li>            
                    <button {{action 'newProject'}} class="btn btn-info navbar-btn navbar-right btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> New Project
                    </button>
                </li>
                <li>{{#link-to 'admin.invitations'}}Invitations{{/link-to}}</li>
                <li>{{#link-to 'admin.profile'}}Profile{{/link-to}}</li>
                <li><a {{ action 'invalidateSession' }} class="mouse-pointer">Logout</a></li>
            </ul>
{{!--             <button {{action 'newProject'}} class="btn btn-info navbar-btn navbar-right btn-sm">
                <span class="glyphicon glyphicon-plus"></span> New Project
            </button> --}}

            
        </div>
    </div>
</div>