
<div class="row">
    <div class="col-md-6">
        
            {{#link-to 'project' this classNames="project-title"}}
                {{title}}
            {{/link-to}} 

            {{#if private}}
                <span class="glyphicon glyphicon-lock"></span>
            {{else}}
                <span class="glyphicon glyphicon-eye-open"></span>
            {{/if}}
        
    </div>
    <div class="col-md-6 text-right">
        <button type="submit" class="btn btn-default" {{action 'editProject' this}}>
            <span class="glyphicon glyphicon-pencil"></span> Edit 
        </button>
    </div>
</div>

<hr/>

{{outlet}}

<div {{bind-attr class="showRequestMatchers::hidden"}}>
{{!--     <div class="row">
        <div class="col-md-6">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default" {{action "toggleRequestMatcherColumn" "httpMethods"}}>Http Methods</button>
                <button type="button" class="btn btn-default">Path</button>
                <button type="button" class="btn btn-default">Active Response</button>
                <button type="button" class="btn btn-default">Created</button>
                <button type="button" class="btn btn-default">Updated</button>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <button type="submit" class="btn btn-success" {{action 'newRequestMatcher'}}>
                <span class="glyphicon glyphicon-plus"></span> Add Request
            </button>
        </div>
    </div> --}}

    <div {{bind-attr class="requestMatchers.isFulfilled::hidden"}}>
        {{render "request-matchers" requestMatchers}}
    </div>

    {{#unless requestMatchers.isFulfilled}}
        {{loading-widget target="requests"}}
    {{/unless}}

</div>

{{outlet "request-matcher-modal"}}