<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                {{#if isNew}}New{{else}}Edit{{/if}} Request
            </h4>
        </div>
        <div class="modal-body">
            
            {{error-messages for=this}}

            <form {{action 'save' on='submit'}} role="form">
                <div class="form-group">
                    <label for="path">Path</label>
                    {{input type="text" value=path required="true" class="form-control" id="path" placeholder="/example/32"}}
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=matchesGetRequest}} <span class="label label-success">GET</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=matchesPostRequest}} <span class="label label-primary">POST</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=matchesPutRequest}} <span class="label label-warning">PUT</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=matchesDeleteRequest}} <span class="label label-danger">DELETE</span>
                    </label>
                </div>  

                {{partial "partials/resource-button-bar"}}
            </form>
        </div>
    </div>
</div>