<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-container">
            <h3>Forget your password?</h3>

            {{messages-widget for=this}}

            <form {{action 'reset' on='submit'}} role="form">
                <div class="form-group">
                    <label for="email"></label>
                    {{input type="email" required="true" value=email class="form-control" id="email" placeholder="Email"}}
                </div>
                <button type="submit" class="btn btn-primary ladda-button reset-button" {{bind-attr disabled=submitting}} data-style="expand-left" data-spinner-size="25">
                    <span class="ladda-label">
                        {{#if submitting}}
                            Submitting
                        {{else}}
                            Submit
                        {{/if}}
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{{partial "partials/footer"}}